# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
/config
.DS_Store
.project
/first-network/org3-artifacts/crypto-config
/first-network/fabric-ca-server
